h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-style: bolder;
  text-align: center;
  color: #000000

}

h4 {
  font-size: 20px;
}


.card-dish-pricing{
  position: absolute;
  right: 14px;
  top: 150px;
  width: 53px;
}

.btn {
  border-radius: 8px;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: #ffffff;
  background-color: #156801;
  height: 36px;
  width: 137px;
  margin-left: 117px;
  margin-top: 279px;
}

.price-card {
  border-radius: 50%;
  background-color: #ffffff;
  border-color: #ffffff
}

