.container h1 {
  font-size: 2.2rem;
  color: #156801;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}


.order-summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-summary-btn {
  margin-top: 50px;
}

.btn-summary {
  background-color: #156801;
  border-radius: 4px;
}

