<div id="footer" class="container-footer">
        <i class="fas fa-bars"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-cart"></i>
</div>

