<div id="footer" class="container-footer">
        <%= link_to dish_availabilities_path do %>
        <i class="fas fa-bars darkgrey"></i>
        <% end %>
        <i class="fas fa-heart darkgrey"></i>
        <%= link_to dashboard_path do %>
        <i class="fas fa-user darkgrey"></i>
        <% end %>
        <i class="fas fa-shopping-cart darkgrey"></i>
</div>

