<div id="footer">
    <div class="container-footer">
        <%= link_to dish_availabilities_path do %>
        <i class="fas fa-bars"></i>
        <% end %>
        <i class="fas fa-heart"></i>
        <%= link_to dashboard_path do %>
        <i class="fas fa-user"></i>
        <% end %>
        <i class="fas fa-shopping-cart"></i>
    </div>
</div>

