<div class="container">
  <div class="bg-summary">

    <div class="order-summary">

      <%= simple_form_for [@dish_availability, @order], url: dish_availability_orders_path(@dish_availability), method: :post do |f| %>
      <%= f.input :dishes_portion, label: 'No. of Portions', collection: 1..5 %>
      <%= f.input :comment, label:'Comments for Chefs' ,as: :text %>

      <div class="btn-summary">

        <%= f.button :submit, "Confirm Order" , class: "greenbg"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
