<div class="container">
  <h1 id="dashboard-head">Ciao,<%= @user.first_name %></h1>
  <br>
  <div class="card-dashboard">Profile info</div>
  <div class="card-dashboard">My Orders</div>
  <div class="card-dashboard">Settings</div>
  <div class="card-dashboard">Help</div>
  <div class="card-dashboard">Favourites</div>
  <div class="card-dashboard">Logout</div>
  <%#= raise %>
  <% if @user.is_chef %>
  <div class="card-mychef"><%= link_to 'My Chef Page', chef_page_path %></div>
  <% else %>
  <div class="card-mychef"><%= link_to 'Become A Chef', make_chef_path %></div>
  <% end %>
</div>
