<h1>ciao</h1>
<%= @user.email %>
<br>
<br>
<ul>
  <li>Profile info</li>
  <li>My orders</li>
  <li>Settings</li>
  <li>Help</li>
  <li>Favourites</li>
  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <br>
  <br>
  <%#= raise %>
  <% if @user.is_chef %>
    <li><%= link_to 'My chef page', chef_page_path %></li>
  <% else %>
    <li><%= link_to 'Become a chef', make_chef_path %></li>
  <% end %>
</ul>
