<div class="background">
    <div class="logo-container">
      <%= image_tag "logo.png" %>
      <h2>homemade food in your neighborhood</h2>
    </div>
    <div class= "btn-container">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to 'Log in', dish_availabilities_path, class: "btn btn-primary"%>
      <button type="button-facebook" class="btn-facebook btn-facebook-primary" data-toggle="" data-target="#">Log-in with Facebook</button>
  </div>
</div>



