<div class="background">
  <div class="logo-container">
    <%= image_tag "logo.png" %>
    <h2>homemade food in your neighborhood</h2>
  </div>
  <div class= "btn-container">
    <button type="button" class="btn btn-primary" data-toggle="" data-target="#signupModal">Sign up</button>
    <button type="button" class="btn btn-primary" data-toggle="" data-target="#">Log in</button>
    <button type="button" class="facebook-btn btn-primary" data-toggle="" data-target="#">Log-in with Facebook</button>
  </div>
</div>


