.sxalign {
  text-align: left;
}

.greentext {
  color: $green;
}

.greenbg {
  background: $green !important;
  margin-top: 30px;
}

.whitetext {
  color: white;
}

.txtcenter {
  margin: 0 auto 0 auto;
}

.vrtalign {
  vertical-align: middle;
}
